/*------------ [Google_Font] -----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ramaraja&display=swap');

/*------------ [_Root] bde0feff-------FFC368----*/
:root {

    /* Colors */
    --white-color: #FFFFFF;
    --black-color: #141414;
    --grey-color: #D9D9D9;
    --red-color: #AB2121;


    /* FontStyle*/
    --fontOne: 'Poppins', sans-serif;
    --fontTwo: 'augustbold';
    

    /* Font Sizes */
    --font-fourtyTwo: 2rem;
    --font-thirtyTwo: 1.35rem;
    --font-twentyFour: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-fourtyTwo: 2.625rem;
        --font-thirtyTwo: 2rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'augustbold';
    src: url('../src/assets/august/august-bold-webfont.woff2') format('woff2'),
         url('../src/assets/august/august-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--------------- [_Buttons] -------------*/
/*Btn Style Max*/


/*--------------- [_Utility] -------------*/
body {
    max-width: 1440px;
    height: 100vh;
    background-color: var(--white-color);
    font-family: var(--fontOne);
    color: var(--black-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--head-pri-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    color: var(--text-pri-color);
}

h1 {
    font-size: var(--font-fourtyTwo);
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--fontTwo);
}

h2 {
    font-size: var(--font-thirtyTwo);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 500;
}

h6 {
    font-size: var(--font-eleven);
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}
